<%- include("../includes/header.ejs", {title:"Skill - " + result[0].skill_id}); %>
<h1>Skill Name: <%= result[0].skill_name%></h1>
<ul>
    <li>Description: <%= result[0].description %></li>
</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>