<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Street Name:  <input id="street" name="street" type="text" />
    <br />
    <br />
    <!-- Zip Code: <input id="zip_code" name="zip_code" type="text" />
    <br /> -->
    Zip Code:
    <br />
    <select id="address_id" name="zip_code" multiple="multiple">
        <% for(var i=0; address.length > i; i++ ) { %>
        <option value="<%= address[i].zip_code %>"><%= address[i].zip_code %></option>
        <% } %>
    </select>


    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#address_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>